[Desktop Entry]
Name=YT Planner
Comment=YouTube Video Planning App
Exec=bash __APP_DIR__/launch.sh
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=true
